## 基础练习-学生成绩

In [ ]:
# Action1：求2+4+6+8+...+100的求和，用Python该如何写
# Action2: 统计全班的成绩
# 班里有5名同学，现在需要你用Python来统计下这些人在语文、英语、数学中的平均成绩、最小成绩、最大成绩、方差、标准差。然后把这些人的总成绩排序，得出名次进行成绩输出（可以用numpy或pandas）

In [6]:
# Action1：求2+4+6+8+...+100的求和，用Python该如何写
sum = 0
for i in range(2,101,2):
    sum = sum + i
print(sum)

2550

In [24]:
# Action2: 统计全班的成绩,描述 
import pandas as pd
import numpy as np

dict = {"Name":["张飞","关羽","刘备","典韦","许褚"],"语文":[68,95,98,90,80],"数学":[65,76,86,88,90],"英语":[30,98,88,77,90]}
df = pd.DataFrame(data=dict)

df.iloc[:,1:].agg([np.mean,np.max,np.min,np.std,np.var])

#总成绩排序，得出名次进行成绩输出
df.sum(axis=0)

              语文          数学          英语
mean   86.200000   81.000000   76.600000
amax   98.000000   90.000000   98.000000
amin   68.000000   65.000000   30.000000
std    12.255611   10.440307   27.107195
var   150.200000  109.000000  734.800000

In [40]:
df["总分"] = df[["语文","数学","英语"]].sum(axis=1)

  Name  语文  数学  英语   总分
0   张飞  68  65  30  163
1   关羽  95  76  98  269
2   刘备  98  86  88  272
3   典韦  90  88  77  255
4   许褚  80  90  90  260

In [45]:
df.sort_values("总分",ascending = False)

  Name  语文  数学  英语   总分
2   刘备  98  86  88  272
1   关羽  95  76  98  269
4   许褚  80  90  90  260
3   典韦  90  88  77  255
0   张飞  68  65  30  163

## 汽车质量数据探索

In [70]:
result = pd.read_csv(r'D:\i学习\Data_Engine_with_Python-master\L1\car_data_analyze\car_complain.csv')
df1.head()

,id,brand,car_model,type,desc,problem,datetime,status
0,482028,一汽马自达,阿特兹,2020款 2.5L 蓝天运动版,一汽马自达阿特兹B柱异响 车内异响严重,"H93,H15,",2020-06-08,信息审核
1,482027,江淮汽车,江淮iEV6E,2017款 iEV6E,江淮iEV6E动力电池故障 无法充电,"H343,",2020-06-08,信息审核
2,482026,一汽马自达,阿特兹,2020款 2.5L 蓝天运动版,一汽马自达阿特兹车身异响 天窗异响,"H93,H15,H89,",2020-06-08,信息审核
3,482022,一汽-大众,迈腾,2009款 1.8TSI DSG 舒适型,一汽大众迈腾起步和刹车时车辆抖动\t,"B84,E111,",2020-06-08,信息审核
4,482019,众泰汽车,众泰T600 Coupe,2017款 1.5T 自动 尊享型,众泰T600 Coupe售后维修配件一直缺货,"N318,",2020-06-08,厂家受理

In [75]:
result = result.drop('problem', 1).join(result.problem.str.get_dummies(','))
result.head()

,id,brand,car_model,type,desc,datetime,status,A11,A114,A12,...,N318,N319,O296,O326,O348,O354,Q322,Q323,Q349,Q350
0,482028,一汽马自达,阿特兹,2020款 2.5L 蓝天运动版,一汽马自达阿特兹B柱异响 车内异响严重,2020-06-08,信息审核,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,482027,江淮汽车,江淮iEV6E,2017款 iEV6E,江淮iEV6E动力电池故障 无法充电,2020-06-08,信息审核,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,482026,一汽马自达,阿特兹,2020款 2.5L 蓝天运动版,一汽马自达阿特兹车身异响 天窗异响,2020-06-08,信息审核,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,482022,一汽-大众,迈腾,2009款 1.8TSI DSG 舒适型,一汽大众迈腾起步和刹车时车辆抖动\t,2020-06-08,信息审核,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,482019,众泰汽车,众泰T600 Coupe,2017款 1.5T 自动 尊享型,众泰T600 Coupe售后维修配件一直缺货,2020-06-08,厂家受理,0,0,0,...,1,0,0,0,0,0,0,0,0,0

In [72]:
result.problem.str.get_dummies(',')

,A11,A114,A12,A13,A136,A14,A145,A163,A174,A18,...,N318,N319,O296,O326,O348,O354,Q322,Q323,Q349,Q350
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
595,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
596,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
597,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
598,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
599,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [74]:
?result.join

In [122]:
# 数据统计
# 按照brand统计 投诉总数，不同problem类型的总数
# 按照投诉总数进行排序
# 按照指定的problem类型进行排序
tags = result.columns[7:]   #tags属于索引
df_1 = result.groupby(['brand']).id.agg(['count'])
df_2 = result.groupby(['brand'])[tags].agg(['sum'])
df_2 = df_1.merge(df_2, left_index=True, right_index=True, how='left')
df_2

,count,"(A11, sum)","(A114, sum)","(A12, sum)","(A13, sum)","(A136, sum)","(A14, sum)","(A145, sum)","(A163, sum)","(A174, sum)",...,"(N318, sum)","(N319, sum)","(O296, sum)","(O326, sum)","(O348, sum)","(O354, sum)","(Q322, sum)","(Q323, sum)","(Q349, sum)","(Q350, sum)"
brand,,,,,,,,,,,,,,,,,,,,,
一汽-大众,52,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
一汽-大众奥迪,19,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
一汽丰田,12,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
一汽吉林,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
一汽大众,6,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
长安汽车,6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
长安铃木,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
长安马自达,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
雷克萨斯,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
领克汽车,5,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [138]:
# 通过reset_index将DataFrameGroupBy => DataFrame
#df_2.reset_index(inplace=True)  
#df_2.sort_values('count',ascending = False)  
query = ('A114', 'sum')
df_2.sort_values(query, ascending=False)

,level_0,index,brand,count,"(A11, sum)","(A114, sum)","(A12, sum)","(A13, sum)","(A136, sum)","(A14, sum)",...,"(N318, sum)","(N319, sum)","(O296, sum)","(O326, sum)","(O348, sum)","(O354, sum)","(Q322, sum)","(Q323, sum)","(Q349, sum)","(Q350, sum)"
22,22,22,东风雪铁龙,6,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
36,36,36,南京依维柯,3,0,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
35,35,35,华晨鑫源,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
68,68,68,长城汽车,11,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
0,0,0,一汽-大众,52,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24,24,24,东风风行,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
23,23,23,东风雷诺,3,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21,21,21,东风裕隆,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20,20,20,东风英菲尼迪,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
74,74,74,领克汽车,5,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [118]:
#此段内容有错误
#df_2 = result.groupby('brand').columns[7:-2].agg(np.sum)  #索引的时候都用方括号，columns,index,loc,iloc
#df_2.iloc[:,7:-2].agg([sum])
print(tags)

Index(['A11', 'A114', 'A12', 'A13', 'A136', 'A14', 'A145', 'A163', 'A174',
       'A18',
       ...
       'N318', 'N319', 'O296', 'O326', 'O348', 'O354', 'Q322', 'Q323', 'Q349',
       'Q350'],
      dtype='object', length=174)

In [84]:
result.iloc[:,7:-2].sum(axis=0)

A11      1
A114     4
A12      6
A13      1
A136     2
        ..
O326     2
O348    10
O354     2
Q322     2
Q323     2
Length: 172, dtype: int64

In [123]:
?df_1.merge